<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002850901829-t4aojsinqrr2q1q099tcd59olg3jtius.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002850901829-t4aojsinqrr2q1q099tcd59olg3jtius</string>
	<key>API_KEY</key>
	<string>AIzaSyCDZve6E79AcfGFSBympwc3ctNx5ppbRf8</string>
	<key>GCM_SENDER_ID</key>
	<string>1002850901829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.fettle.main</string>
	<key>PROJECT_ID</key>
	<string>auth-cf4ea</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-cf4ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002850901829:ios:0fb061d2c479830685682c</string>
	<key>DATABASE_URL</key>
	<string>https://auth-cf4ea.firebaseio.com</string>
</dict>
</plist>